doctype html(lang='en')

head
    title Infinite Moments Photography
    link(rel="shortcut icon", href="../images/favicon.png")
    link(rel="stylesheet", href="/stylesheets/bootstrap-reboot.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/lightbox.css")
    link(rel="stylesheet", href="/stylesheets/aos.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/stylesheets/vendors/help.min.css")
    link(href=href="https://fonts.googleapis.com/css?family=Noto+Serif|Open+Sans", rel="stylesheet", type="text/css")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    // Required for Previews and Experiments
    script(type="application/ld+json").
          {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "https://www.infinitemomentphotos.com"
        }
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script
      = ctx?"window.prismic = { endpoint: '" + ctx.endpoint + "' };":""
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
    script(src="/javascript/loading.js")
    script(src="/javascript/smoothscroll.js")
    script(src="/javascript/float-panel.js")
    script(src="/javascript/imagesLoaded.min.js")
    script(src="/javascript/lightbox.js")
    script(src="/javascript/scripts.js")
    script(src="//static.cdn.prismic.io/prismic.min.js")
    script(src="/javascript/vendors/highlight.min.js")

body
    block bodyContent
