<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Infinite Moments Photography</title>

    <!-- bootstrap 4 -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous"> -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="shortcut icon" href="images/favicon.ico">
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Maven+Pro" rel="stylesheet">

    <link rel="stylesheet" href="css/lightbox.css">
    <!-- personal styling -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <!-- intro section -->
    <header id="home">
        <!-- begin nav -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top">
            <!-- begin nav container -->
            <div class="container">
                <a class="navbar-brand" href="#home">
                    <img class=" rounded" height="50" width="80" src="images/infiniteNav.png" alt="Logo of Infinite Moments Photography">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#home">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#gallery">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end nav container -->
        </nav>
        <!-- end nav -->
        <div class="jumbotron jumbotron-fluid intro-tag text-center">
            <h1>Infinite Moments Photography</h1>
            <p id="jumboTag" class="lead">Moments can last forever...</p>
        </div>
        <!-- end container -->
    </header>

    <!-- end intro section -->

    <!-- begin about section -->
    <section id="about">
        <!-- begin container -->
        <div class="container">
            <h2 class="text-center about-lead">About</h2>
            <p class="text-center about-tag">Infinite Moments Photography</p>
            <!-- begin row -->
            <div class="row">
                <div class="col-lg-6">
                    <img class="img-fluid rounded about-img" src="images/familyPhoto.jpg" alt="Image of Jermaine Vaughan and family">

                </div>
                <div class="col-lg-6 aboutText">
                    <p>Welcome to Infinite Moments Photography with Jermaine Vaughan born and resides in Ahoskie, North Carolina.
                        I am a man of faith who believes in Jesus the Christ as the Son of God. I'm a family man the husband
                        of a loving wife (Kashana) and through this union, I have been blessed with one daughter (Serenity).
                        For years I have always had a fascination with taking pictures of babies, couples, portraits, engagements,
                        banquets, parties, and bridals not realizing that photography was my passion and calling from God.
                        Through the years from birth to this present moment, I find myself capturing my daughter every candid
                        moment as God used her to help me realize photography as my calling.

                    </p>
                    <p>As a photographer, I strive to be innovative and imaginative to set your infinite moment photos apart
                        from the rest as I look to bless others through my gift of creativeness through the lens. I love
                        to travel and meet new friends on life's journey as well as joking and having a good laugh with my
                        clients. Proverbs 18:16 says, "a man's gift will make room for him & bringeth him before great men".
                        Through my love for traveling, I pray that my gift of photography will bring me before your presence.
                        I love to shoot and take pride in what I do and continue to perfect my craft through training, workshops,
                        tutorials, & other special colleagues I've met along the way. I believe in being a man of integrity
                        (doing the right thing even when no one else would know), honest, and allow others to respect you
                        for who you are instead of who you pretend to be; with that being said I look forward to making your
                        moments infinite.
                    </p>

                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->

    </section>
    <!-- end about section -->

    <!-- start gallery -->
    <section id="gallery" class="text-center">
        <div class="container">
            <h2>Gallery</h2>
            <div id="masonry">

                <div class="galleryItem">
                    <a href="images/galleryImg1.jpg" data-lightbox="portfolio">
                        <img class="img-fluid rounded item" src="images/galleryImg1.jpg" data-lightbox="portfolio" alt="Client Graduation Portrait">
                    </a>
                </div>

                <a href="images/galleryImg2.jpg" data-lightbox="portfolio">
                    <img class="img-fluid rounded item" src="images/galleryImg2.jpg" data-lightbox="portfolio" alt="Outdoor Photo of Client">
                </a>

                <a href="images/galleryImg3.jpg" data-lightbox="portfolio">
                    <img class="img-fluid rounded item" src="images/galleryImg3.jpg" data-lightbox="portfolio" alt="Outdoor Photo of Client">
                </a>

                <a href="images/galleryImg4.jpg" data-lightbox="portfolio">
                    <img class="img-fluid rounded item" src="images/galleryImg4.jpg" data-lightbox="portfolio" alt="Photo of Daughter">
                </a>

                <a href="images/galleryImg5.jpg" data-lightbox="portfolio">
                    <img class="img-fluid rounded item" src="images/galleryImg5.jpg" data-lightbox="portfolio" alt="Night photo of couple">
                </a>

                <a href="images/galleryImg6.jpg" data-lightbox="portfolio">
                    <img class="img-fluid rounded item" src="images/galleryImg6.jpg" data-lightbox="portfolio" alt="Day photo of couple">
                </a>

                <a href="images/galleryImg7.jpg" data-lightbox="portfolio">
                    <img class="img-fluid rounded item" src="images/galleryImg7.jpg" data-lightbox="portfolio" alt="Client Graduation Portrait">
                </a>

                <a href="images/galleryImg8.jpg" data-lightbox="portfolio">
                    <img class="img-fluid rounded item" src="images/galleryImg8.jpg" data-lightbox="portfolio" alt="Client Graduation Portrait">
                </a>

                <a href="images/galleryImg9.jpg" data-lightbox="portfolio">
                    <img class="img-fluid rounded item" src="images/galleryImg9.jpg" data-lightbox="portfolio" alt="Client Graduation Portrait">
                </a>

                <a href="images/galleryImg10.jpg" data-lightbox="portfolio">
                    <img class="img-fluid rounded item" src="images/galleryImg10.jpg" data-lightbox="portfolio" alt="Client Portrait Image">
                </a>

                <a href="images/galleryImg11.jpg" data-lightbox="portfolio">
                    <img class="img-fluid rounded item" src="images/galleryImg11.jpg" data-lightbox="portfolio" alt="Client Graduation Portrait">
                </a>

                <a href="images/galleryImg12.jpg" data-lightbox="portfolio">
                    <img class="img-fluid rounded item" src="images/galleryImg12.jpg" data-lightbox="portfolio" alt="Client Self Portrait">
                </a>

                <a href="images/galleryImg13.jpg" data-lightbox="portfolio">
                    <img class="img-fluid rounded item" src="images/galleryImg13.jpg" data-lightbox="portfolio" alt="Client Self Portrait">
                </a>
            </div>
        </div>

    </section>
    <!-- end gallery -->
    <!-- begin contact -->
    <section id="contact">
        <div class="container">
            <h2 class="text-center">Contact Me</h2>

            <!-- begin form -->
            <form method="POST" action="/message">
                <div class="form-row">

                     <div class="form-group col-md-12 text-center">
                        <label for="session">Session Type</label>
                        <select id="session" class="custom-select" required>
                            <option value="family portrait">Family Portrait</option>
                            <option value="graduation">Graduation</option>
                            <option value="senior portraits">Senior Portraits</option>
                            <option value="other">Other</option>
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label for="inputName">Name</label>
                        <input type="text" class="form-control" id="inputName" name="name" placeholder="Your Name" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputPhone">Phone</label>
                        <input type="tel" class="form-control" id="inputPhone" name="phone" placeholder="555-555-5555" required>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputEmail">Email</label>
                        <input type="email" class="form-control" id="inputEmail" name="email" placeholder="your-email@email.com" required>
                    </div>

                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea class="form-control" name="message" id="message" rows="3"></textarea>
                </div>
                <button id="sendMsg" type="submit" class="btn">Send</button>
            </form>
            <!-- end form -->
        </div>
    </section>
    <!-- end contact -->

    <!-- footer -->
    <footer class="text-center">
        <span>&copy;2017 Infinite Moments Photography | Created by
            <a href="https://www.treseanadam.com" target="_blank">Tresean Adam</a>
        </span>
    </footer>


    <!-- necessary js for bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js " integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin=" anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js " integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh "
        crossorigin="anonymous "></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js " integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ "
        crossorigin="anonymous "></script> -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/smoothScroll.js "></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/masonrySet.js"></script>
    <script src="js/lightbox.js"></script>
    <script src="js/app.js "></script>

</body>

</html>